.box {
    /* width: 200px;
    height: 200px; */
    border: 1px solid black;
    margin: 1rem;
    float: left;
    cursor: pointer;
}
.number, .image {
    margin: 5px;
    float: left;
}
.image {
    width: 150px;
}
.image.revealed {
    margin-left: 25%;
    width: 750px;
}
.selected {
    border: 4px solid green;
}
#doneBox {
    width: 100px;
    margin: 0 auto;
}
#done {
    width: 100px;
    height: 30px;
    margin-top: 1rem;
}